<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="TeamChinaFeed" value="https://pkgs.dev.azure.com/MonitorERPChina/General/_packaging/TeamChinaFeed/nuget/v3/index.json" />
    <add key="MonitorChina1" value="https://pkgs.dev.azure.com/MonitorERPChina/General/_packaging/MonitorChina1/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="TeamChinaFeed">
      <package pattern="MonitorG5.*" />
    </packageSource>
    <packageSource key="MonitorChina1">
      <package pattern="Monitor.China.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
